body{
    background-image: url(opera-sydney.jpg);
    text-align: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position:25% 25%;

}
#bloc-principal{
    /* border: solid 2px rgb(255, 255, 255); */
    
    display: inline-block;
    margin: 0 auto;
    width: 85%;
    height: 100px;
    
    position: absolute; /* postulat de départ */
    top: 25%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.bloc-letter{
    width: 80px;
    height: 100px;
    border: solid 1px rgb(57, 58, 57);
    background: linear-gradient(rgba(58, 58, 58, 0.2), rgba(141, 88, 68, 0.2), rgba(177, 156, 148, 0.2)  );
    flex-direction:column;
    justify-content: center;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    color: goldenrod;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.bloc-letter:hover{
    border: solid 4px goldenrod;
    box-shadow: 10px 5px 5px rgba(243, 115, 35, 0.774);
    /* box-shadow:  ;; */
}


kbd{
    color: white;
    font-size: 2rem;
}
/* .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  } */

  .key{
      transition: 0.7s;
  }